<div class="container-fluid">
  <a class="navbar-brand text-white" href="/inicio/" style="margin-right: 20px; margin-left: 15px;">Inicio</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="vr"></div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin: 10px;">
      <!-- <a class="nav-link text-white" href="/inicioAdministrador/" style="font-size: 18px;">Administrador</a> -->
      <a class="nav-link text-white" href="/login/" style="font-size: 18px;">Ingresar</a>
    </div>
  </div>
  <!-- <div class="vr"></div>
  <div>
    {% load static %}
    <img src="{% static '../static/images/home.png' %}" alt="" height="30px">
  </div> -->
</div>