@font-face {
  font-family: "Zurich Ublk EX BT";
  src: url("./Zurich_UBlkEx_BT_Ultra_Black.ttf");
}

header {
  width: 100%;
  height: 35vh;
  background-color: white;
}

nav {
  width: 100%;
  height: 11vh;
  background-color: rgb(89, 181, 72);
  font-weight: bold;
}

section {
  width: 100%;
  height: auto;
  background-color: white;
}

footer {
  width: 100%;
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;
  background-color: white;
}

#title {
  letter-spacing: 25px;
  font-size: 9vh;
  font-family: "Zurich Ublk EX BT", sans-serif;
  margin-top: 30px;
}

/* #pFooter {
  font-family: "Zurich Ublk EX BT";
  font-size: 15px;
} */

/* .menu-title {
      font-family: "Zurich Ublk EX BT";
  } */

.inicioSesion {
  align-items: center;
  align-content: center;
}
